<% provide(:title, 'About Us') %>
<!DOCTYPE html>
 <h1>About Us</h1>
 <p>
   Read about us on the Ruby on Rails tutorial at the
   <a href="http://railstutorial.org/help">Rails Tutorial Help</a>.
   <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
 </p>
