<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  Read help on the Ruby on Rails tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial Help</a>.
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
